/* =-=-=-=-=-=-=-=-=-= Import =-=-=-=-=-=-=-=-=-= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Kalam:wght@400;700&display=swap');

/* =-=-=-=-=-=-=-=-=-= Root =-=-=-=-=-=-=-=-=-= */

:root {
  /* Font Family */
  --ff-regular: 'Poppins', sans-serif;
  --ff-handwrite: 'Kalam', cursive;

  /* Font Sizes */
  /* --fs-900: 9.5rem;
  --fs-800: 6.4rem;
  --fs-700: 4.5rem;
  --fs-600: 3.2rem;
  --fs-500: 2.2rem;
  --fs-400: 1.6rem;
  --fs-300: 1.4rem; */

  --font-size-base: 1.6rem;

  --fs-900: calc(var(--font-size-base) * 1.75 + 2.5vw);
  --fs-800: calc(var(--font-size-base) * 1.5 + 2vw);
  --fs-700: calc(var(--font-size-base) * 1.25 + 1.5vw);
  --fs-600: calc(var(--font-size-base) * 1.125 + 1.25vw);
  --fs-500: calc(var(--font-size-base) * 1.125);
  --fs-400: var(--font-size-base);
  --fs-300: calc(var(--font-size-base) * 0.875);
  --fs-200: calc(var(--font-size-base) * 0.75);

  /* Font Weight */
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-regular: 400;
  --fw-light: 300;

  /* Colors */
  --clr-blue-dark: #1069b2;
  --clr-blue-medium: #0088c2;
  --clr-blue-light: #0eb1ec;

  /* Neutrals */
  --clr-dark: #0d0d0d;
  --clr-gray: #646464;
  --clr-light: #f2f2f2;
}

/* =-=-=-=-=-=-=-=-=-= Resets =-=-=-=-=-=-=-=-=-= */

/* Box sizing rules */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Set default rem to 10px */
html {
  font-size: 62.5%;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* =-=-=-=-=-=-=-=-=-= General Styles =-=-=-=-=-=-=-=-=-= */

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-regular);
  font-size: var(--fs-400);
}

@media (min-width: 600px) {
  :root {
    --font-size-base: 1.8rem;
  }
}

@media (min-width: 1440px) {
  :root {
    --font-size-base: 2rem;
  }
}

/* =-=-=-=-=-=-=-=-=-= General Components =-=-=-=-=-=-=-=-=-= */

/* ---------- Header Component ---------- */

.header {
  background-color: var(--clr-blue-light);
}

.nav {
  padding-inline: 6rem;
  padding-block: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 8rem;
  height: 8rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.dropdown-menu__toggle {
  background-color: transparent;
  border: none;
  width: 4rem;
  height: 4rem;
  padding: 0;

  display: grid;
  place-items: center;
  cursor: pointer;
}

.toggle-hamburger {
  position: relative;
  border-radius: 10rem;
  background-color: white;
  width: 4.5rem;
  height: 1rem;
  transition: transform ease-in-out 250ms, background-color ease-in-out 250ms;
}

.toggle-hamburger::before,
.toggle-hamburger::after {
  position: absolute;
  content: '';
  border-radius: 10rem;
  background-color: white;
  width: 4.5rem;
  height: 1rem;
  transition: transform ease-in-out 250ms;
}

.toggle-hamburger::before {
  transform: translate(-50%, -125%);
}

.toggle-hamburger::after {
  transform: translate(-50%, 125%);
}

.dropdown-menu__toggle.open .toggle-hamburger {
  transform: translateX(-50%);
  background-color: transparent;
}

.dropdown-menu__toggle.open .toggle-hamburger::before {
  transform: rotate(45deg);
}

.dropdown-menu__toggle.open .toggle-hamburger::after {
  transform: rotate(-45deg);
}

.dropdown-menu {
  margin: 0;
  padding-inline: 6rem;
  padding-block: 2rem;
  text-align: center;
  font-size: var(--fs-500);
}

.nav__items li {
  display: flex;
  justify-content: center;
}

.nav__link {
  padding-block: 0.5rem;
  text-decoration: none;
  color: var(--clr-light);
  display: block;
  width: fit-content;
}

.nav__link::after {
  content: '';
  height: 0.2rem;
  width: 0%;
  background-color: var(--clr-light);
  display: block;
  transition: width ease-in-out 150ms;
}

.nav__link:hover::after {
  width: 100%;
}

.active.nav__link::after {
  width: 100%;
}

@media (min-width: 960px) {
  .header {
    background-color: var(--clr-blue-medium);
    display: grid;
    place-items: center;
    position: relative;
    z-index: 0;
  }

  .nav {
    padding-block: 2rem;
  }

  .dropdown-menu__toggle {
    display: none;
  }

  .dropdown-menu {
    font-size: initial;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .nav__items {
    display: flex;
    gap: 2rem;
  }

  .nav__items li {
    display: block;
  }
}

/* ---------- Footer Component ---------- */

.footer {
  background-color: var(--clr-gray);
  color: var(--clr-light);
  text-align: center;
  padding-inline: 4rem;
  padding-block: 2rem;
}

.footer__description,
.footer_copyright {
  font-size: var(--fs-300);
}

.footer__description {
  padding-bottom: 0.25rem;
}

@media (min-width: 960px) {
  .footer__description,
  .footer_copyright {
    font-size: var(--fs-300);
  }
}
